$screen-small-portait: 480px;
$screen-small-landscape: 900px;
$screen-large-portrait: 481px;
$screen-large-landscape: 901px;

$game-width-small: 100%;
$game-height-small: 100vh;
$game-width-large: 512px;
$game-height-large: $game-width-large;

body {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    padding: 0px;
    margin: 0px;
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    text-align: left;
    margin: 0px;
    padding: 0px;
    /* margin-bottom: 20px; */
    letter-spacing: 10px;
    border-bottom: 1px #ccc solid;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    text-align: left;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#main {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#canvas-container {
    // @media screen and (orientation: portrait) and (max-width: $screen-small-portait) {
    //     width: $game-width-small;
    // }
    // @media screen and (orientation: landscape) and (max-width: $screen-small-landscape) {
    //     width: $game-width-small;
    // }
    // @media screen and (orientation: portrait) and (min-width: $screen-large-portrait) {
    //     width: $game-width-large;
    // }
    // @media screen and (orientation: landscape) and (min-width: $screen-large-landscape) {
    //     width: $game-width-large;
    // }
}

canvas {
    display: flex;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 10;
    @media screen and (orientation: portrait) and (max-width: $screen-small-portait) {
        width: 100%;
        height: 100%;
    }
    @media screen and (orientation: landscape) and (max-width: $screen-small-landscape) {
        height: 100vh;
    }
    @media screen and (orientation: portrait) and (min-width: $screen-large-portrait) {
        width: 100%;
        height: 100%;
    }
    @media screen and (orientation: landscape) and (min-width: $screen-large-landscape) {
        height: 100vh;
    }
}

#state-waiting_connect {
    margin-bottom: 20px;
}

.room {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 40px;
    margin-bottom: 10px;
}

.room_id_label {
    flex-grow: 1;
    text-align: left;
    margin-right: 10px;
    align-items: center;
    display: flex;
    justify-content: start;
}

.room_number_players {
    flex-grow: 1;
    text-align: right;
    margin-right: 10px;
    align-items: center;
    display: flex;
    justify-content: end;
}

#game_room_selector-room_inputs {
    display: flex;
    justify-content: space-between;
    height: 40px;
}

#game_room_selector-room_inputs > input {
    flex-grow: 1;
    margin-right: 10px;
    font-size: 24px;
    outline: none;
    border: 1px solid #19914b;
    border-radius: 3px;
    padding: 4 12px;
    font-family: 'Roboto', sans-serif;
}

.room_join_button {
    outline: none;
    background-color: #19914b;
    color: #fff;
    font-size: 17px;
    border: 2px solid transparent;
    border-radius: 5px;
    /* padding: 4px 18px; */
    /* transition: all 230ms ease-in-out; */
    cursor: pointer;
    width: 80px;
}

#state-game_ready {
    display: flex;
    
    @media screen and (orientation: portrait) and (max-width: $screen-small-portait) {
        flex-direction: column;
    }
    @media screen and (orientation: landscape) and (max-width: $screen-small-landscape) {
        flex-direction: row;
    }
    @media screen and (orientation: portrait) and (min-width: $screen-large-portrait) {
        flex-direction: column;
    }
    @media screen and (orientation: landscape) and (min-width: $screen-large-landscape) {
        flex-direction: row;
    }
}

#game-details-container {
    @media screen and (orientation: portrait) and (max-width: $screen-small-portait) {
        width: $game-width-small;
    }
    @media screen and (orientation: landscape) and (max-width: $screen-small-landscape) {
        width: 100%;
        padding: 6px;
    }
    @media screen and (orientation: portrait) and (min-width: $screen-large-portrait) {
        width: 100%;
    }
    @media screen and (orientation: landscape) and (min-width: $screen-large-landscape) {
        width: 100%;
        padding: 6px;
    }
}

#game_ready-teams {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 6px;
}

#game_ready-teams > h3 {
    padding: 0px;
    margin: 0px;
}

.team {
    padding: 0px;
    margin-bottom: 20px;
    width: 100%;

    h3 {
        padding: 0px;
        margin: 0px;
        display: flex;
        justify-content: space-between;
    }

    @media screen and (orientation: portrait) and (max-width: $screen-small-portait) {
        padding-left: 0px;
        h3 {
            padding: 0px 6px;
            flex-direction: column;
        }
    }
    @media screen and (orientation: landscape) and (max-width: $screen-small-landscape) {
        // padding-left: 6px;
    }
    @media screen and (orientation: portrait) and (min-width: $screen-large-portrait) {
        padding-left: 0px;
        h3 {
            padding: 0px 6px;
        }
    }
    @media screen and (orientation: landscape) and (min-width: $screen-large-landscape) {
        // padding-left: 6px;
    }
}

.team-score {
    text-align: right;
}

.team-players-container {
    @media screen and (orientation: portrait) and (max-width: $screen-small-portait) {
        padding: 0px 6px;
    }
    @media screen and (orientation: landscape) and (max-width: $screen-small-landscape) {
        padding-left: 0px;
    }
    @media screen and (orientation: portrait) and (min-width: $screen-large-portrait) {
        padding: 0px 6px;
    }
    @media screen and (orientation: landscape) and (min-width: $screen-large-landscape) {
        padding-left: 0px;
    }
}

#game_ready-teams_left {
    .team-header {
        background-color: #b40808;
        height: 20px;
    }
    .team-footer {
        background-color: #b40808;
        height: 4px;
    }
}

#game_ready-teams_right {
    .team-header {
        background-color: #1638c2;
        height: 20px;
    }
    .team-footer{
        background-color: #1638c2;
        height: 4px;
    }
}

#room {
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: right;
    font-style: italic;
    font-size: 18px;

    @media screen and (orientation: portrait) and (max-width: $screen-small-portait) {
    }
    @media screen and (orientation: landscape) and (max-width: $screen-small-landscape) {
        display: none;
    }
    @media screen and (orientation: portrait) and (min-width: $screen-large-portrait) {
    }
    @media screen and (orientation: landscape) and (min-width: $screen-large-landscape) {
        display: none;
    }
}

#score, #level, #combo, #health, #fps, .player, .team-player {
    display: flex;
    justify-content: space-between;
}

#fps {
    border-top: 1px #ccc solid;
    padding-top: 10px;
    @media screen and (orientation: portrait) and (max-width: $screen-small-portait) {
    }
    @media screen and (orientation: landscape) and (max-width: $screen-small-landscape) {
        display: none;
    }
    @media screen and (orientation: portrait) and (min-width: $screen-large-portrait) {
    }
    @media screen and (orientation: landscape) and (min-width: $screen-large-landscape) {
        display: none;
    }
}

#status {
    text-align: center;
}

#actions {
    text-align: center;
    visibility: hidden
}

.hidden { 
    visibility:hidden;
    display:none;
}